<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marin.homesecuritywork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".first_info"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".second_info"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name=".third_info"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".register_server_manually" />
        <activity android:name=".main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuccessActivity" />
        <activity
            android:name=".main_with_cameras"
            android:label="@string/title_activity_main_with_cameras"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>